%ul
  - @forums.each do |forum|
    %li.forum
      = link_to forum.name, forum
      %ul
        = render :partial => "forum_data_header"
        = render :partial => "forum_data", :collection => forum.children.active.by_rank, :as => :forum
