// Place all the styles related to the forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #DFE7E2;
  padding: 10px 50px;
  font-family: verdana, arial, helvetica;
}

header#page_header {
  border-width: 0px 1px;
  border-style: solid;
  border-color: #5C9E65;
  background-color: #FFFFFF;
  h1 {
    float: left;
    height: 108px;
    width: 293px;
    margin: 0px 10px 10px 10px;
    background: #FFF url('http://www.dsy.it/images/logo.gif') no-repeat;
    span { display: none; }
  }
  section#header_content { overflow: hidden; }
}

nav#site_nav {
  font: 0.6em Verdana;
  color: #FFFFFF;
  background-color: #5C9E65;
  li {
    display: inline;
    a { color: #FFFFFF; }
  }
  ul {
    padding: 2px 4px;
  }
  li:first-child { font-weight: bold; }
  li:first-child:after { content: " >"; }
  a { text-decoration: none; }
  a:hover { color: #0C4E15; }
}

nav#menu {
  float: right;
  padding-right: 5px;
  ul, li { display: inline; }
  a {
    padding: 1px;
    color: #0C4E15;
    background-color: #F1F5F1;
    text-decoration: none;
    font: bold 0.8em Verdana;
  }
}

ul#breadcrumb, ul#breadcrumb li {
    display: inline;
    a {
      font-family: verdana, arial, helvetica;
      font-weight: 700;
      color: #0c4e18;
    }

}
/*
 *#banner {
 *  position: relative;
 *  top: 20px;
 *  text-align: center;
 *  a {
 *    position: relative;
 *    top: -6px;
 *    font: 0.6em Verdana;
 *    color: #0C4E15;
 *  }
 *}
 */

nav#footer_nav {
  text-align: center;
  font: 0.6em Verdana;
  margin-bottom: 6px;
  a { color: #0C4E15; }
}

section#main_content {
  border-width: 0px 1px;
  border-style: solid;
  border-color: #5C9E65;
  background-color: #FFFFFF;
  padding: 10px 60px;
  font-size: 13px;
  ul, li {
    list-style-type: none;
    padding: 5px 0px;
    margin: 1px;
    a {
      font-family: verdana, arial, helvetica;
      font-weight: 700;
    }
  }
  li.top_level_forum_data {
    background-color: #D4DED8;
    padding-top: 5px;
    padding-bottom: 2px;
    a {
      color: #639374;
    }
  }
  li.forum_data {
    background-color: #F1F5F1;
    padding-left: 10px;
    overflow: hidden;
    a {
      color: #0c4e18;
    }
    div {
      float: left;
      font-size: 10px;
    }
    div.forum_main_data {
      width: 60%;
    }
    div.forum_name {
      font-size: 13px;
    }
    div.forum_description {
      float: none;
    }
    div.forum_name, div.forum_last_post_date, div.forum_last_post_time, div.forum_last_poster {
      float: none;
    }
    div.forum_threads_nr, div.forum_replies_nr, div.forum_last_post_data {
      padding: 5px;
      float: right;
      width: 10em;
    }
  }
}

footer#site_footer {
  border-width: 0px 1px;
  border-style: solid;
  border-color: #5C9E65;
  background-color: #FFFFFF;
  text-align: center;
  section {
    font: 0.7em Verdana;
    color: #FFFFFF;
    background-color: #5C9E65;
  }
}

